// Import page-specific CSS files here.

@import "home";


.navbar-user
{
  width: 100%;
  padding-left: 200px;
  background: white;
}


.navbar-user .header
{
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
  height: 100px;
  background: #white;
  color: #717171;
  border-bottom: 0px solid #e0e4e8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.couleur {
  background-color: #EF8D32 !important;
  border-color: #EF8D32 !important;
  font-color: white !important;
}



#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);

}

body {
}

/* NE PAS CREER DE .CONTAINER

.container {
    background-color: #a516ba;

}*/




/* base divs- index.html.erb */

.chiffres{
    opacity: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    width: 100px;
    color: black;
    font-size: 24px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    flex-wrap: wrap;
}

.chiffres:hover{
    opacity: 0.7;
}


.container-2 {
    background-color: #FAFAFB;
}

.demandes {
    opacity: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    font-size: 24px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2)
}


/* style items dans divs & container - index */

.mother-container-chiffres {

  display: flex;
}

.chiffres {
    flex-grow: 1;
    height: 100px;
    width: 50%;
}

.chiffres:nth-child(1){
    flex-basis: 50px;
}
.chiffres:nth-child(2){
    flex-basis: 100px;
}
.chiffres:nth-child(3){
    flex-basis: 100px;
}

.container-2 {
    display: flex;
}

.demandes {
    flex-grow: 2;
    height: 800px;
    width: 80%;
}

/* style petites divs demandes - index */

.cards {
display: flex;
background-color: white;
}


.card-demandes {
    opacity: 1;
    cursor: pointer;
    background-color: #FAFAFB;
    border-radius: 20px;
    margin: 20px;
    height: 100px;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    decoration: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.ligne1-titre {
  background-color: orange;
  padding: 10px;
  border-radius: 20px;
  height: 80px;
  padding: 10px;

}

.ligne2-deadline {
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  flex-direction: row;

}


.ligne3-avancement {
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  flex-direction: row;
}


.ligne4-nouveau-document {
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  height: 80px;
  justify-content: center;
  flex-direction: row;
}


.index-user-info {
  display: flex;
}


.index-container {
  margin-left: 200px;
}


.remove_link_style_index {
  text-decoration: none !important;
  color: inherit;
  &:hover{
    color: inherit;
  }
}

.index-deadline {
  background: #fae9cb;
  box-shadow: none;
  border-radius: 20px;
  height: 20px;
  width: 100px;
  padding: 6px 4px;
  border: 10px;
}


.index-deadline h4 {
  color: blue;
  font-size: 10px;
}

.h4 {
  color: blue;
}

.validation {
  color: black;
  background: #ff0000;
  box-shadow: none;
  border-radius: 20px;
  height: 20px;
  width: 100px;
  padding: 6px 4px;
  border: 10px;
}

.validation .index-deadline h4 {
  color: blue;
  font-size: 10px;
}


/* Pourcentage */



.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 30px 60px rgba(0,0,0,.2);
}
.box .percent
{
    position: relative;

    width: 50px;
    height: 50px;
}
.box .percent
{
    position: relative;
    width: 150px;
    height: 150px;
}
.box .percent svg circle
{
    width: 50px;
    height: 50px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.box .percent svg circle:nth-child(1)
{
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
.box .percent svg circle:nth-child(2)
{
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: #03a9f4;
}

.box .percent .number
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  #999;
}
.box .percent .number h2
{
    font-size: 48px;
}

.box .percent .number h2 span
{
    font-size: 24px;
}

.box .text {
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
}

