// Import page-specific CSS files here.

@import "home";


.navbar-user
{
  width: 100%;
  padding-left: 200px;
  background: white;
}


.navbar-user .header
{
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
  height: 100px;
  background: #white;
  color: #717171;
  border-bottom: 0px solid #e0e4e8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}




#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);

}

body {

}

.container {
    background-color: #FAFAFB;

}


/* base divs- index.html.erb */

.item{
    opacity: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    width: 80px;
    color: black;
    font-size: 24px;
    text-align: center;
}

.item:hover{
    opacity: 0.7;
}


.container-2 {
    background-color: #FAFAFB;
}

.item-2{
    opacity: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    font-size: 24px;
    text-align: center;
}


/* style items dans divs & container - index */

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    height: 100px;
    width: 50%;
}

.item:nth-child(1){
    flex-basis: 50px;
}
.item:nth-child(2){
    flex-basis: 100px;
}
.item:nth-child(3){
    flex-basis: 100px;
}

.container-2 {
    display: flex;
}

.item-2 {
    flex-grow: 2;
    height: 800px;
    width: 80%;
}
