// Import page-specific CSS files here.

@import "home";

/* NE PAS CREER DE .CONTAINER (sinon ça fait sauter)*/
/* NE PAS CREER DE .btn (sinon ça fait tout sauter*/

.navbar-user
{
  width: 100%;
  padding-left: 200px;
  background: white;
}


.navbar-user .header
{
  font-size: 12px;
  font-family: sans-serif;
  padding: 20px;
  height: 100px;
  background: #white;
  color: #717171;
  border-bottom: 0px solid #e0e4e8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.couleur {
  background-color: #EF8D32 !important;
  border-color: #EF8D32 !important;
  font-color: white !important;
}



#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);

}

body {

}

/* NE PAS CREER DE .CONTAINER

.container {
    background-color: #a516ba;

}
*/




/* base divs- index.html.erb */

/* NE PAS SUPPRIMER EN DESSOUS */

.mother-container-chiffres {
background-color: #FAFAFB;
}


.chiffres{
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    width: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    background-size: 300%;
    transition: 0.6s;
  }

/* ok */

.chiffres {
  opacity: 100%;
  background-image: linear-gradient(to left, #f1c40f, #ecf0f1, #f1c40f);
}

.chiffres:hover {
    cursor: pointer;
    transform: translate(0, -6px);
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255,0.5);
    background-position: right;
}
.couleur-chiffres-1 h2 {
  display: flex;
  justify-content: center;
  color: #EF8D32;
  font-size: 50px;
}
.chiffres p {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 14px;
}


.chiffres-2 {
    font-size: 12px;
    opacity: 1;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    background-size: 300%;
    transition: 0.6s;
    background-size: 300%;
    transition: 0.6s;
  }
.chiffres-2 {
  opacity: 90%;
  background-image: linear-gradient(to left, #ecf0f1, #12CBC4, #12CBC4);
}
.chiffres-2:hover {
    cursor: pointer;
    transform: translate(0, -6px);
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255,0.5);
    background-position: right;
}
.couleur-chiffres-2 h2 {
  display: flex;
  justify-content: center;
  color: #d35400;
  font-size: 50px;
}
.chiffres-2 p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}




.chiffres-3 {
  font-size: 12px;
    opacity: 1;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    background-size: 300%;
    transition: 0.6s;
    background-size: 300%;
    transition: 0.6s;
  }
.chiffres-3 {
  opacity: 100%;
  background-image: linear-gradient(to left, #12CBC4, #0652DD, #12CBC4);
}
.chiffres-3:hover {
    cursor: pointer;
    transform: translate(0, -6px);
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255,0.5);
    background-position: right;
}

.couleur-chiffres-3 h2 {
  display: flex;
  justify-content: center;
  color: #d35400;
  font-size: 50px;
}
.chiffres-3 p {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 14px;
}

.btn:hover{
    background-position: right;
}


/* Parti 2 - Ne pas supprimer*/

.container-2 {
    background-color: #FAFAFB;
}


/* couleurs card
.container-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Palette de couleurs supprimable après validation équipe - début test*/


/* fin test */

.demandes {
    opacity: 1;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 30px;
    font-size: 24px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2)
}


/* style items dans divs & container - index */




/* NE PAS TOUCHER CHIFFRES - répartition avec width pour 100% écran Mac/Pc  */

.mother-container-chiffres {
  display: flex;
}

.chiffres {
    flex-grow: 1;
    height: 100px;
    width: 35%;
}

.chiffres-2 {
    flex-grow: 1;
    height: 100px;
    width: 15%;
}

.chiffres-3 {
    flex-grow: 1;
    height: 100px;
    width: 15%;
}


.chiffres:nth-child(1){
    flex-basis: 50px;
}
.chiffres:nth-child(2){
    flex-basis: 100px;
}
.chiffres:nth-child(3){
    flex-basis: 100px;
}

.container-2 {
    display: flex;
}

/* ne pas toucher demandes */

.demandes {
  align-items: center;
    flex-grow: 2;
    height: 800px;
    width: 80%;
}




/* style petites divs demandes - index */


/* Boutton demandes */


/*RENOMMER BOUTON
#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);
}
*/

.cards {
display: flex;
background-color: white;
}


.card-demandes {
    opacity: 1;
    cursor: pointer;
    background-color: #FAFAFB;
    border-radius: 20px;
    margin: 20px;
    height: 100px;
    padding: 30px;
    font-size: 12px;
    text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    decoration: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.ligne1-titre {
  background-color: orange;
  padding: 10px;
  border-radius: 20px;
  height: 80px;
  padding: 10px;

}

.ligne2-deadline {
  background-color: yellow;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  flex-direction: row;

}


.ligne3-avancement {
  background-color: green;
  padding: 10px;
  border-radius: 20px;
  height: 40px;
  justify-content: center;
  flex-direction: row;
}


.ligne4-nouveau-document {
  background-color: black;
  padding: 10px;
  border-radius: 20px;
  height: 80px;
  justify-content: center;
  flex-direction: row;
}


.index-user-info {
  display: flex;
}


.index-container {
  margin-left: 200px;
}


.remove_link_style_index {
  text-decoration: none !important;
  color: inherit;
  &:hover{
    color: inherit;
  }
}

.index-deadline {
  background: #fae9cb;
  flex: display;
  box-shadow: none;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  padding: 6px 4px;
  border: 10px;
}


.index-deadline h4 p {
  order: 1;
  color: blue;
  font-size: 12px;
}

.index-avancement{
  color: red;
  font-size: 20px;
}

.dealine-h4{
  color: blue;
  font-size: 12px;
}

.validation {
  color: black;
  background: green;
  box-shadow: none;
  border-radius: 20px;
  height: 20px;
  width: 50px;
  padding: 6px 4px;
  border: 10px;
}

.validation .index-deadline h4 {
  color: blue;
  font-size: 12px;
}



.titre-request h4 {
  color: black;
  font-size: 10px;
}

/* Pourcentage */



