// Import page-specific CSS files here.
@import "home";


.main_content
{
  width: 100%;
  padding-left: 200px;
  background: white;
}


.main_content .header
{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}


.main_content .info
{
  margin: 20px;
  height: 900px;
  padding-left: 20px;
  padding-right: 20px;
  color: #717171;
  line-height: 25px;
}

.main_content .info div
{
  margin-bottom: 20px;
}



.couleur {
  background-color: #EF8D32 !important;
  border-color: #EF8D32 !important;
  font-color: white !important;
}

.card-parent {
  display: flex;
}
