// Import page-specific CSS files here.

@import "home";


.navbar-user
{
  width: 100%;
  padding-left: 200px;
  background: white;
}


.navbar-user .header
{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.navbar-user .info
{
  margin: 20px;
  height: 900px;
  padding-left: 20px;
  padding-right: 20px;
  color: #717171;
  line-height: 25px;
}

.navbar-user .info div
{
  margin-bottom: 20px;
}



.couleur {
  background-color: #EF8D32 !important;
  border-color: #EF8D32 !important;
  font-color: white !important;
}



#services .btn-primary
{
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);

}

body {

}

.container {
    background-color: fafafb;

}


/* base divs- index.html.erb */

.item{
    opacity: 1;
    cursor: pointer;
    background-color: #7971ea;
    border: 5px solid #443ea0;
    border-radius: 8px;
    margin: 20px;
    padding: 80px;
    width: 80px;
    color: white;
    font-size: 24px;
    text-align: center;
}

.item:hover{
    opacity: 0.7;
}


.container-2 {
    background-color: fafafb;
}

.item-2{
    opacity: 1;
    cursor: pointer;
    background-color: F3F3F3;
    border: 5px solid #443ea0;
    border-radius: 8px;
    margin: 20px;
    padding: 30px;
    color: white;
    font-size: 24px;
    text-align: center;
}


/* style items dans divs & container - index */

.container {
    display: flex;
}

.item {
    flex-grow: 1;
    height: 100px;
    width: 50%;
}

.item:nth-child(1){
    flex-basis: 50px;
}
.item:nth-child(2){
    flex-basis: 100px;
}
.item:nth-child(3){
    flex-basis: 100px;
}

.container-2 {
    display: flex;
}

.item-2 {
    flex-grow: 2;
    height: 800px;
    width: 80%;
}
