.show-request {
  flex-direction: column;
}
.titre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  h1 {
    font-weight: bold;
    color: #717171;
  }
  h2 {
    opacity: 0.8;
    font-size: 24px;
  }
}
.btn-pink {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);
  color: white !important;
}
.document-modal {
  width: auto;
}
.table-fichier {
  thead {
    background-color: rgba(119, 24, 136, 0.5);
    color: white;
  }
}

.fa-trash {
  color:#771788;
  &:hover {
    color: #771788 ;
    opacity: 0,6;
  }
}
.titre-content {
  border-radius: 20px;
  margin: 20px;
  padding: 80px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
}
.bouton-centre{
  margin-top: 100px;
}