.show-request {
  flex-direction: column;
}
.titre {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  h1 {
    font-weight: bold;
  }
  h2 {
    opacity: 0.8;
    font-size: 24px;
  }
}
.btn-pink {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #a516ba, #5f1782);
  color: white !important;
}
.document-modal {
  width: auto;
}
.table-fichier {
  thead {
    background-color: rgba(119, 24, 136, 0.5);
    color: white;
  }
}
