
<div class="wrapper">
  <div class="sidebar">

      <%= link_to image_tag("FilesMeUp-trans-white-crop.png", :class => "services-img"), root_path %>
      <h2></h2>

      <ul>
        <li>
          <i class="fas fa-tachometer-alt"></i>
          <%= link_to "Dashboard", requests_path %>
        </li>
        <li>
          <i class="fas fa-folder"></i>
          <%= link_to "GED", documents_path %>
        </li>
        <li>
        <i class="fas fa-cog"></i>
        <a href="#">Paramétres</a></li>

        <div class="log-out-sidebar">
           <li>
        <i class="fas fa-sign-out-alt"></i>
        <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "sign-out"%>
      </li>
        </div>
      </ul>




  </div>

    <!---- div parent --->



  </div>
</div>

