<!---- appel sidebar --->
<%= render "shared/sidebar" %>

 <div class="navbar-user">

        <div class="header">
           <h5><%= "Bonjour #{current_user.prenom} #{current_user.nom}" %></h5>
          <h1>DASHBOARD</h1>

          <li class="nav-item dropdown">
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "dropdown-item"%></a>
          </div>
        </li>
        </div>


<!---- BLOCK DEBUT TEST --->

<div class="container">
    <div class="item">1</div>
    <div class="item">2</div>
    <div class="item">3</div>
</div>

<div class="container-2">
    <div class="item-2">1</div>
    <div class="item-2">2</div>
</div>


