  <section id="banner">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="promo-title">FILES ME UP</p>
              <p>L'hebergement de vos document repensé. Plus besoin de vous déplacer pour envoyer vos documents<br> Service clientèle disponible 24/24</p>
              <a href="#"></a>
            </div>
              <div class="col-md-6 text-center">
               <%= image_tag("business-meeting.svg", width: 500, height: 400, crop: :fill) %>


              </div>
          </div>
        </div>
  </section>
