<%= render "shared/sidebar" %>

<div class="main_content">

    

    <h1>Mes documents reçus</h1>

    <p><% @documents.each do |document| %></p>
        <% if document.etat_document == "reçu"%>
        <p><%= document.nom  %></p>
        <% end %>
    <% end %>

        
            
    <h1>Mes documents envoyés</h1>

    <p><% @documents.each do |document| %></p>
        <% if document.etat_document == "envoyé"%>
        <p><%= document.nom  %></p>
        <% end %>
    <% end %>

    


</div>
