.demandes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.remove_link_style {
  text-decoration: none !important;
  color: inherit;
  &:hover{
    color: inherit;
  }
}
