


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}


body
{
  background: white;

}



.wrapper
{
  display: flex;
  position: relative;
}

.wrapper .sidebar
{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #771788;
  padding: 30px 0;
}


.wrapper .sidebar h2
{
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li
{
  padding: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
  text-align: center;
}


.wrapper .sidebar ul li a
{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li i
{
  color: #bdb8d7;
  padding-bottom: 8px;
}

.wrapper .sidebar ul li:hover
{
  background: #white;
}

.wrapper .sidebar ul li:hover a
{
  color: #fff;
}


.wrapper .sidebar .log_out
{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}



.wrapper .sidebar .log_out a
{
  display: block;
  width: 40px;
  background: #594f8d;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fas.fa-tachometer-alt
{
  font-size: 24px;
}

.fas.fa-folders{
  font-size: 24px;
}

.fas.fa-sign-out-alt
{
  font-size: 16px;
  padding-top: 160px;
}

.fas.fa-cog
{
  font-size: 24px;
}


.sign-out
{
  font-size: 14px;
}


.log-out-sidebar {
    clear: both;
    position: relative;
    margin-top: 200px;
    font-size: 24px;
}
